<div align="center">
    <h2> Global Terrorism Analysis: 50 Years of Patterns, Impact, and Evolution</h2>
</div>

> Terrorism is not a modern phenomenon, but its methods, scale, and areas of concentration have transformed dramatically over time.
> This project is an attempt to analyze the evolving patterns, tactics, regions, and human impact of terrorism across the globe.
> The dataset, compiled by the University of Maryland, contains 209,706 records of terrorist incidents from 1970 to 2020.

In [1]:
#Loading the dataset

import pandas as pd

gtd = pd.read_excel("globalterrorismdb_0522dist.xlsx", engine = 'openpyxl')
print(gtd.shape)

(209706, 135)

In [2]:
gtd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209706 entries, 0 to 209705
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(54), int64(23), object(57)
memory usage: 216.0+ MB

In [3]:
pd.set_option('display.max_columns', None)
gtd.columns.tolist()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [4]:
gtd.describe()

,eventid,iyear,imonth,iday,extended,resolution,country,region,latitude,longitude,specificity,vicinity,crit1,crit2,crit3,doubtterr,alternative,multiple,success,suicide,attacktype1,attacktype2,attacktype3,targtype1,targsubtype1,natlty1,targtype2,targsubtype2,natlty2,targtype3,targsubtype3,natlty3,guncertain1,guncertain2,guncertain3,individual,nperps,nperpcap,claimed,claimmode,claim2,claimmode2,claim3,claimmode3,compclaim,weaptype1,weapsubtype1,weaptype2,weapsubtype2,weaptype3,weapsubtype3,weaptype4,weapsubtype4,nkill,nkillus,nkillter,nwound,nwoundus,nwoundte,property,propextent,propvalue,ishostkid,nhostkid,nhostkidus,nhours,ndays,ransom,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,2.097060e+05,209706.000000,209706.000000,209706.000000,209706.000000,4861,209706.000000,209706.000000,205015.000000,205014.000000,209705.000000,209706.000000,209706.000000,209706.000000,209706.000000,209706.000000,35249.000000,209705.000000,209706.000000,209706.000000,209706.000000,8434.000000,658.000000,209706.000000,197867.000000,207692.000000,14535.000000,14003.000000,14211.000000,1629.000000,1539.000000,1600.000000,209326.000000,2538.000000,410.000000,209706.000000,138613.000000,140233.000000,143613.000000,24696.000000,2476.000000,732.000000,409.000000,140.000000,4954.000000,209706.000000,183765.000000,16402.000000,14292.000000,2371.000000,2132.000000,73.000000,70.000000,197179.000000,145269.000000,141547.000000,189770.000000,145009.000000,138800.000000,209706.000000,73464.000000,4.837500e+04,209528.000000,16667.000000,16612.000000,4985.000000,10301.000000,80466.000000,1.533000e+03,7.340000e+02,9.510000e+02,725.000000,14091.000000,13494.000000,209706.000000,209706.000000,209706.000000,209706.000000
mean,2.004867e+11,2004.800993,6.455285,15.527930,0.051525,2006-12-14 11:22:40.581978880,130.291351,7.279854,23.358696,30.416738,1.468387,0.068854,0.988265,0.993291,0.866246,-0.423593,1.293001,0.145900,0.883628,0.035469,3.351311,3.956011,5.705167,8.484078,47.163034,127.079035,10.050705,54.641720,126.196749,10.171885,55.948668,132.108125,0.075949,0.258077,0.185366,0.003929,-68.819613,-1.341261,0.079095,7.069768,0.235864,7.312842,0.337408,6.692857,-6.131005,6.543060,11.081294,6.986404,11.206969,7.138338,12.407598,6.246575,10.842857,2.431030,0.038797,0.559122,3.085872,0.034177,0.137759,-0.712927,3.289407,1.750017e+05,0.052967,3.040559,-0.311281,-55.121916,-36.012717,-0.157520,2.791526e+06,3.211036e+05,6.204108e+05,182.750345,4.705912,-31.945531,-4.424289,-4.339318,0.086841,-3.850758
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,1970-03-08 00:00:00,4.000000,1.000000,-53.154613,-176.176447,1.000000,-9.000000,0.000000,0.000000,0.000000,-9.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,4.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,-99.000000,-99.000000,-9.000000,0.000000,-9.000000,1.000000,0.000000,1.000000,-9.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,1.000000,-9.900000e+01,-9.000000,-99.000000,-99.000000,-99.000000,-99.000000,-9.000000,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-100.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.992080e+11,1992.000000,4.000000,8.000000,0.000000,1997-05-22 00:00:00,69.000000,6.000000,11.510046,8.748117,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,2.000000,5.250000,3.000000,22.000000,78.000000,4.000000,29.000000,60.000000,4.000000,32.000000,45.000000,0.000000,0.000000,0.000000,0.000000,-99.000000,0.000000,0.000000,7.000000,0.000000,6.000000,0.000000,4.000000,-9.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-9.900000e+01,0.000000,1.000000,0.000000,-99.000000,-99.000000,0.000000,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.012010e+11,2012.000000,6.000000,15.000000,0.000000,2013-04-29 00:00:00,98.000000,8.000000,31.300213,43.746215,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,2.000000,7.000000,4.000000,35.000000,101.000000,14.000000,67.000000,97.000000,14.000000,67.000000,98.500000,0.000000,0.000000,0.000000,0.000000,-99.000000,0.000000,0.000000,8.000000,0.000000,8.000000,0.000000,7.000000,-9.000000,6.000000,11.000000,6.000000,8.000000,7.000000,11.000000,6.000000,9.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,-9.900000e+01,0.000000,2.000000,0.000000,-99.000000,-99.000000,0.000000,1.000000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.015123e+11,2015.000000,9.000000,23.000000,0.000000,2016-05-10 00:00:00,160.000000,10.000000,34.557022,68.835918,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,7.000000,7.000000,14.000000,74.000000,175.000000,14.000000,68.000000,182.000000,14.000000,73.000000,182.000000,0.000000,1.000000,0.000000,0.000000,-99.000000,0.000000,0.000000,8.000000,1.000000,10.000000,1.000000,9.000000,0.000000,6.000000,16.000000,8.000000,18.000000,9.000000,21.000000,6.000000,16.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,4.000000,-9.900000e+01,0.000000,4.000000,0.000000,0.000000,3.000000,0.000000,3.420000e+05,0.000000e+00,6.640600e+02,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.020123e+11,2020.000000,12.000000,31.000000,1.000000,2021-05-29 00:00:00,1004.000000,12.000000,74.633553,179.366667,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,9.000000,9.000000,7.000000,22.000000,113.000000,1004.000000,22.000000,113.000000,1004.000000,22.000000,113.000000,1004.000000,1.000000,1.000000,1.000000,1.000000,25000.000000,406.000000,1.000000,10.000000,1.000000,10.000000,1.000000,10.000000,1.000000,13.000000,31.000000,13.000000,31.000000,13.000000,28.000000,12.000000,28.000000,1700.000000,1361.000000,500.000000,10878.000000,751.000000,200.000000,1.000000,7.000000,2.700000e+09,1.000000,17000.000000,86.000000,999.000000,2676.000000,1.000000,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2958.000000,1.000000,1.000000,1.000000,1.000000
std,1.351933e+09,13.519321,3.387098,8.801104,0.221066,NaN,111.714562,2.905697,18.137061,56.113029,0.984958,0.281308,0.107693,0.081636,0.340389,2.305025,0.733146,0.353007,0.320672,0.184962,2.029153,2.358046,2.089622,6.602032,30.599430,91.732261,5.732859,25.761594,122.995161,5.649132,25.870299,152.871895,0.264916,0.437663,0.389069,0.062561,194.556994,12.115647,0.997974,2.343068,0.872997,2.683832,0.473405,2.853488,4.318717,2.296739,6.485577,2.377310,7.727262,2.239521,8.731212,1.507212,8.192672,11.340882,5.109512,4.262644,40.916175,2.760472,1.560821,3.288812,0.481360,1.398607e+07,0.562180,183.207589,6.355005,77.612689,127.146650,1.255812,2.826923e+07,5.005760e+06,9.195574e+06,2567.718184,2.030311,64.494306,4.543800,4.640302,0.536943,4.677966

## Data Cleaning

In [5]:
gtd.duplicated().sum()

np.int64(0)

In [6]:
#Checking NaN/missing values in the dataset

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
nan_count = gtd.isna().sum()
nan_count = nan_count[nan_count > 0]
print(nan_count)

approxdate            197017
resolution            204845
city                     427
latitude                4691
longitude               4692
specificity                1
location              142231
summary                66120
alternative           174457
alternative_txt       174457
multiple                   1
attacktype2           201272
attacktype2_txt       201272
attacktype3           209048
attacktype3_txt       209048
targsubtype1           11839
targsubtype1_txt       11839
corp1                  42536
target1                  637
natlty1                 2014
natlty1_txt             2014
targtype2             195171
targtype2_txt         195171
targsubtype2          195703
targsubtype2_txt      195703
corp2                 196198
target2               195296
natlty2               195495
natlty2_txt           195495
targtype3             208077
targtype3_txt         208077
targsubtype3          208167
targsubtype3_txt      208167
corp3                 208228
target3               208078
natlty3               208106
natlty3_txt           208106
gsubname              202476
gname2                207127
gsubname2             209522
gname3                209292
gsubname3             209683
motive                154648
guncertain1              380
guncertain2           207168
guncertain3           209296
nperps                 71093
nperpcap               69473
claimed                66093
claimmode             185010
claimmode_txt         185010
claim2                207230
claimmode2            208974
claimmode2_txt        208974
claim3                209297
claimmode3            209566
claimmode3_txt        209566
compclaim             204752
weapsubtype1           25941
weapsubtype1_txt       25941
weaptype2             193304
weaptype2_txt         193304
weapsubtype2          195414
weapsubtype2_txt      195414
weaptype3             207335
weaptype3_txt         207335
weapsubtype3          207574
weapsubtype3_txt      207574
weaptype4             209633
weaptype4_txt         209633
weapsubtype4          209636
weapsubtype4_txt      209636
weapdetail             86569
nkill                  12527
nkillus                64437
nkillter               68159
nwound                 19936
nwoundus               64697
nwoundte               70906
propextent            136242
propextent_txt        136242
propvalue             161331
propcomment           142282
ishostkid                178
nhostkid              193039
nhostkidus            193094
nhours                204721
ndays                 199405
divert                209368
kidhijcountry         206393
ransom                129240
ransomamt             208173
ransomamtus           208972
ransompaid            208755
ransompaidus          208981
ransomnote            209133
hostkidoutcome        195615
hostkidoutcome_txt    195615
nreleased             196212
addnotes              173897
scite1                 66182
scite2                116963
scite3                157030
related               179102
dtype: int64

### Removing Redundant Features

Multiple columns contain excessive missing values that don't align with our analytical focus, creating unnecessary noise.
 
**Remove columns with:**
- 50%+ missing data
- Low relevance to core terrorism analysis  
- Redundant information

In [7]:
#Data Cleaning - Removing the redundant data and data with >80% missing values
columns_to_drop = ['approxdate', 'country', 'region', 'specificity', 'vicinity', 'attacktype1', 'attacktype2', 'attacktype3', 
                   'targtype1', 'targsubtype1', 'natlty1', 'targtype2', 'targsubtype2', 'natlty2', 'targtype3', 'targsubtype3', 
                  'natlty3', 'nperpcap', 'nperps', 'motive', 'guncertain2', 'guncertain3', 'claimed', 'claimmode', 'claimmode_txt', 'claim2', 'claim3',
                  'claimmode2_txt', 'claimmode3_txt', 'claimmode2', 'claimmode3', 'compclaim', 'weaptype1', 'weapsubtype1', 'weaptype2',
                   'weapsubtype2', 'weapsubtype3', 'weaptype3', 'weapsubtype4', 'weaptype4', 'nkillus', 'nwoundus', 'propcomment', 'nhostkidus', 
                  'nhours', 'ndays', 'ransomamtus', 'ransompaidus', 'ransomnote', 'hostkidoutcome_txt', 'addnotes', 'scite1', 'scite2', 'scite3',
                  'dbsource', 'resolution', 'alternative', 'alternative_txt', 'attacktype2_txt', 'attacktype3_txt', 'targtype2_txt', 'targsubtype2_txt', 
                 'targtype3_txt', 'targsubtype3_txt', 'corp2', 'corp3', 'target2', 'target3', 'natlty2_txt', 'natlty3_txt', 'gsubname', 'gname2', 
                 'gsubname2', 'gname3', 'gsubname3', 'weaptype2_txt', 'weapsubtype2_txt', 'weaptype3_txt', 'weapsubtype3_txt', 'weaptype4_txt',
                 'weapsubtype4_txt', 'divert', 'kidhijcountry', 'ransomamt', 'ransompaid', 'hostkidoutcome', 'nreleased']
gtd = gtd.drop(columns = columns_to_drop)
pd.set_option('display.max_columns', None)
gtd.columns.tolist()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'country_txt',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'multiple',
 'success',
 'suicide',
 'attacktype1_txt',
 'targtype1_txt',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1_txt',
 'gname',
 'guncertain1',
 'individual',
 'weaptype1_txt',
 'weapsubtype1_txt',
 'weapdetail',
 'nkill',
 'nkillter',
 'nwound',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'ishostkid',
 'nhostkid',
 'ransom',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [8]:
#Check for the data types

gtd.dtypes

eventid               int64
iyear                 int64
imonth                int64
iday                  int64
extended              int64
country_txt          object
region_txt           object
provstate            object
city                 object
latitude            float64
longitude           float64
location             object
summary              object
crit1                 int64
crit2                 int64
crit3                 int64
doubtterr             int64
multiple            float64
success               int64
suicide               int64
attacktype1_txt      object
targtype1_txt        object
targsubtype1_txt     object
corp1                object
target1              object
natlty1_txt          object
gname                object
guncertain1         float64
individual            int64
weaptype1_txt        object
weapsubtype1_txt     object
weapdetail           object
nkill               float64
nkillter            float64
nwound              float64
nwoundte            float64
property              int64
propextent          float64
propextent_txt       object
propvalue           float64
ishostkid           float64
nhostkid            float64
ransom              float64
INT_LOG               int64
INT_IDEO              int64
INT_MISC              int64
INT_ANY               int64
related              object
dtype: object

- Best storytelling happens with clarity and for that we need to rename the features into something understandable and then we will change the dtypes.

In [9]:
rename_columns = {
    'iyear': 'year',
    'imonth': 'month',
    'iday': 'day',
    'extended': 'extended_attack',
    'country_txt': 'country',
    'region_txt': 'region',
    'provstate': 'state',
    'city': 'city',
    'latitude': 'latitude',
    'longitude': 'longitude',
    'location': 'location_description',
    'summary': 'summary',
    'crit1': 'intention_criterion1',
    'crit2': 'intention_criterion2',
    'crit3': 'intention_criterion3',
    'doubtterr': 'double_terrorism',
    'multiple': 'multiple_attacks',
    'success': 'successful_attack',
    'suicide': 'suicide_attack',
    'attacktype1_txt': 'attack_type',
    'targtype1_txt': 'target_type',
    'targsubtype1_txt': 'target_subtype',
    'corp1': 'target_organization',
    'target1': 'target_name',
    'natlty1_txt': 'target_nationality',
    'gname': 'group_name',
    'guncertain1': 'group_suspected',
    'individual': 'individual_actor',
    'weaptype1_txt': 'weapon_type',
    'weapsubtype1_txt': 'weapon_subtype',
    'weapdetail': 'weapon_detail',
    'nkill': 'num_killed',
    'nkillter': 'num_terrorists_killed',
    'nwound': 'num_wounded',
    'nwoundte': 'num_terrorists_wounded',
    'property': 'property_damage',
    'propextent': 'property_extent',
    'propextent_txt': 'property_extent_text',
    'propvalue': 'property_value',
    'ishostkid': 'is_hostage_kidnapping',
    'nhostkid': 'num_hostages',
    'ransom': 'ransom_demanded',
    'INT_LOG': 'international_logistics',
    'INT_IDEO': 'international_ideology',
    'INT_MISC': 'international_misc',
    'INT_ANY': 'international_any',
    'related': 'related_events'
}

gtd.rename(columns=rename_columns, inplace=True)

In [10]:
list(gtd.columns)

['eventid',
 'year',
 'month',
 'day',
 'extended_attack',
 'country',
 'region',
 'state',
 'city',
 'latitude',
 'longitude',
 'location_description',
 'summary',
 'intention_criterion1',
 'intention_criterion2',
 'intention_criterion3',
 'double_terrorism',
 'multiple_attacks',
 'successful_attack',
 'suicide_attack',
 'attack_type',
 'target_type',
 'target_subtype',
 'target_organization',
 'target_name',
 'target_nationality',
 'group_name',
 'group_suspected',
 'individual_actor',
 'weapon_type',
 'weapon_subtype',
 'weapon_detail',
 'num_killed',
 'num_terrorists_killed',
 'num_wounded',
 'num_terrorists_wounded',
 'property_damage',
 'property_extent',
 'property_extent_text',
 'property_value',
 'is_hostage_kidnapping',
 'num_hostages',
 'ransom_demanded',
 'international_logistics',
 'international_ideology',
 'international_misc',
 'international_any',
 'related_events']

### Let's start cleaning up the data types

In [11]:
gtd['date'] = pd.to_datetime(
    gtd[['year', 'month', 'day']].rename(columns={'year': 'year', 'month': 'month', 'day': 'day'}),
    errors='coerce'
)

In [12]:
cat_cols = [
    'country', 'region', 'state', 'city',
    'attack_type', 'target_type', 'target_subtype',
    'group_name', 'weapon_type', 'weapon_subtype', 
    'property_extent_text'
]

for col in cat_cols:
    gtd[col] = gtd[col].astype('category')

In [13]:
bool_cols = [
    'extended_attack', 'multiple_attacks', 'successful_attack', 
    'suicide_attack', 'double_terrorism', 'is_hostage_kidnapping'
]

for col in bool_cols:
    gtd[col] = gtd[col].astype(bool)

In [14]:
# Handle missing values for critical columns
gtd = gtd.fillna({
    'num_killed': 0,
    'num_wounded': 0, 
    'num_terrorists_killed': 0,
    'num_terrorists_wounded': 0,
    'num_hostages': 0,
    'group_suspected': 0,
    'property_value': 0,
    'ransom_demanded': 0
})

In [15]:
#Convert people counts from float to integer
people_columns = [
    'num_killed', 'num_wounded', 'num_terrorists_killed',
    'num_terrorists_wounded', 'num_hostages'
]
for col in people_columns:
    gtd[col] = gtd[col].astype('int32')  # Use int32 for potential large numbers

In [16]:
# Fix the boolean column that's still float
gtd['group_suspected'] = gtd['group_suspected'].astype('bool')

In [17]:
# Optimize remaining floats
gtd['property_value'] = gtd['property_value'].astype('float32')
gtd['ransom_demanded'] = gtd['ransom_demanded'].astype('float32')

In [18]:
#Let's save some memory if we can

gtd = gtd.apply(
    lambda x: pd.to_numeric(x, downcast='integer') if x.dtype == 'int64' else
              pd.to_numeric(x, downcast='float') if x.dtype == 'float64' else x
)

In [19]:
#Checking to make sure it dropped

gtd.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209706 entries, 0 to 209705
Data columns (total 49 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   eventid                  209706 non-null  int64
 1   year                     209706 non-null  int16
 2   month                    209706 non-null  int8
 3   day                      209706 non-null  int8
 4   extended_attack          209706 non-null  bool
 5   country                  209706 non-null  category
 6   region                   209706 non-null  category
 7   state                    209706 non-null  category
 8   city                     209279 non-null  category
 9   latitude                 205015 non-null  float32
 10  longitude                205014 non-null  float32
 11  location_description     67475 non-null   object
 12  summary                  143586 non-null  object
 13  intention_criterion1     209706 non-null  int8
 14  intention_criterion2     209706 non-null  int8
 15  intention_criterion3     209706 non-null  int8
 16  double_terrorism         209706 non-null  bool
 17  multiple_attacks         209706 non-null  bool
 18  successful_attack        209706 non-null  bool
 19  suicide_attack           209706 non-null  bool
 20  attack_type              209706 non-null  category
 21  target_type              209706 non-null  category
 22  target_subtype           197867 non-null  category
 23  target_organization      167170 non-null  object
 24  target_name              209069 non-null  object
 25  target_nationality       207692 non-null  object
 26  group_name               209706 non-null  category
 27  group_suspected          209706 non-null  bool
 28  individual_actor         209706 non-null  int8
 29  weapon_type              209706 non-null  category
 30  weapon_subtype           183765 non-null  category
 31  weapon_detail            123137 non-null  object
 32  num_killed               209706 non-null  int32
 33  num_terrorists_killed    209706 non-null  int32
 34  num_wounded              209706 non-null  int32
 35  num_terrorists_wounded   209706 non-null  int32
 36  property_damage          209706 non-null  int8
 37  property_extent          73464 non-null   float32
 38  property_extent_text     73464 non-null   category
 39  property_value           209706 non-null  float32
 40  is_hostage_kidnapping    209706 non-null  bool
 41  num_hostages             209706 non-null  int32
 42  ransom_demanded          209706 non-null  float32
 43  international_logistics  209706 non-null  int8
 44  international_ideology   209706 non-null  int8
 45  international_misc       209706 non-null  int8
 46  international_any        209706 non-null  int8
 47  related_events           30604 non-null   object
 48  date                     208815 non-null  datetime64[ns]
dtypes: bool(7), category(11), datetime64[ns](1), float32(5), int16(1), int32(5), int64(1), int8(11), object(7)
memory usage: 143.3 MB

In [20]:
#Dropping duplicates

gtd.drop_duplicates(inplace=True)

In [21]:
#Sorting according to dates

gtd.sort_values(by="date", inplace=True)
gtd.reset_index(drop=True, inplace=True)

In [22]:
 #Checking if the NaN counting is valid or filled with replacements like -9, -99, -999 

# Check if any -9, -99, -999 still exist in numeric columns
for col in gtd.select_dtypes(include=['float', 'int']).columns:
    if (gtd[col].isin([-9, -99, -999])).any():
        print(col, gtd[col].isin([-9, -99, -999]).sum())

latitude 1
property_value 37917
num_hostages 1528
ransom_demanded 1573

In [23]:
#let's replace them with actual NaNs for proper imputing where it is appropriate

import numpy as np
gtd.replace([-9, -99, -999], np.nan, inplace=True)

In [24]:
#I am going to fill the property_value with O meaning no damage or unknown value (no damage done to the dataset here)
#Next num_hostages as we can always cross check with is_hostage_kidnapping
#filling 0 in ransom_demanded is just fine (at least with the analysis we are going to do --disregrding those perspectives where 0 means no ransom_demandeed)

gtd = gtd.fillna({
    'property_value': 0,
    'num_hostages': 0,
    'ransom_demanded': 0
})

## Data Visualization

### Our Visualization Strategy
> We'll create a multi-layered narrative through these visualization categories:

### 1. Temporal Analysis - The Evolution of Terrorism

- Yearly attack trends (1970-2020)
- Decadal comparisons
- Seasonal/monthly patterns
- Major event annotations (9/11, ISIS rise, etc.)

In [25]:
#Average per attack types

gtd.groupby('attack_type', observed=True)['num_killed'].mean(numeric_only=True).sort_values(ascending=False)

attack_type
Hijacking                              4.938076
Unknown                                4.451380
Hostage Taking (Barricade Incident)    4.368512
Armed Assault                          3.679394
Hostage Taking (Kidnapping)            2.299822
Bombing/Explosion                      1.774017
Assassination                          1.281304
Unarmed Assault                        0.759154
Facility/Infrastructure Attack         0.369331
Name: num_killed, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Yearly trend of incidents
plt.figure(figsize=(12,6))
sns.countplot(x='year', data=gtd, hue='year', palette='mako', legend=False)
plt.title('Number of Terrorist Attacks per Year')
plt.xticks(rotation=90)
plt.show()

> We can see that terrorist attacks have peaked in the year 2014, crossing more than 16000+ attacks that year.

In [ ]:
#Decadal Comparison

# Creating decade column
gtd['decade'] = (gtd['year'] // 10) * 10
decades = sorted(gtd['decade'].unique())
decade_labels = [f"{decade}s" for decade in decades]

plt.figure(figsize=(20, 12))

# Overall trends
plt.subplot(2, 3, 1)
decade_counts = gtd.groupby('decade').size()
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd']

bars = plt.bar(decade_labels, decade_counts.values, color=colors, alpha=0.8)
plt.title('Terrorist Incidents by Decade', fontsize=14, fontweight='bold')
plt.ylabel('Number of Attacks')
plt.xticks(rotation=45)
for bar in bars:
    height = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2., height + 100,
             f'{int(height):,}', ha='center', va='bottom', fontweight='bold')

In [ ]:
# Casuality trends
plt.figure(figsize=(10, 6)) 
decade_casualties = gtd.groupby('decade')[['num_killed', 'num_wounded']].sum()
decade_casualties['total'] = decade_casualties['num_killed'] + decade_casualties['num_wounded']

x = np.arange(len(decade_labels))
width = 0.25

plt.bar(x - width, decade_casualties['num_killed'], width, label='Fatalities', color='#d62728', alpha=0.8)
plt.bar(x, decade_casualties['num_wounded'], width, label='Injured', color='#ff7f0e', alpha=0.8)
plt.bar(x + width, decade_casualties['total'], width, label='Total Casualties', color='#2ca02c', alpha=0.8)

plt.title('Casualties by Decade', fontsize=14, fontweight='bold')
plt.ylabel('Number of People')
plt.xticks(x, decade_labels, rotation=45)
plt.legend()

In [ ]:
# Success rates
plt.figure(figsize=(10, 6)) 
success_rates = gtd.groupby('decade')['successful_attack'].mean() * 100

plt.plot(decade_labels, success_rates.values, marker='o', linewidth=3, markersize=8, 
         color='#e377c2', markerfacecolor='white', markeredgewidth=2)
plt.title('Success Rates Over Decades', fontsize=10, fontweight='bold')
plt.ylabel('Success Rate (%)')
plt.xticks(rotation=45)
plt.grid(True, alpha=0.3)
plt.ylim(80, 96)

# Value labels on points
for i, rate in enumerate(success_rates.values):
    plt.annotate(f'{rate:.1f}%', (i, rate), textcoords="offset points", 
                 xytext=(0,10), ha='center', fontweight='bold')

> Though the 2010s witnessed a surge in terrorist attacks, the success rates were actually higher in the 2000s, averaging around 93%.
>
> Interestingly, the 2020s show a noticeable decline in both the number and success of attacks  possibly showing the impact of advanced surveillance, and other technologies

Between 2014 and 2016, terrorism incidents peaked globally, largely driven by conflicts in the Middle East and Africa. Iraq and Syria saw surges due to the rise of ISIS, while Boko Harams activity intensified in Nigeria. This reflects how organized militant networks during that period led to regional instability and higher attack frequency

In [ ]:
# Attack type evolution
plt.figure(figsize=(10, 6)) 
attack_evolution = pd.crosstab(gtd['decade'], gtd['attack_type'], normalize='index') * 100
top_5_attacks = attack_evolution.sum().nlargest(5).index

attack_evolution[top_5_attacks].plot(kind='bar', ax=plt.gca(), width=0.8)
plt.title('Top 5 Attack Methods by Decade', fontsize=14, fontweight='bold')
plt.ylabel('Percentage of Attacks (%)')
plt.xlabel('Decade')
plt.legend(title='Attack Type', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=45)

> Bombings and explosions remain the most frequently used methods, followed by armed assaults.
Interestingly, during the 1970s, assassinations were more common than armed assaults  a reflection of the political motives and targeted violence of that era, though bombings still dominated overall.

In [ ]:
# Regional shifts
plt.figure(figsize=(10, 6)) 
region_evolution = pd.crosstab(gtd['decade'], gtd['region'], normalize='index') * 100
top_5_regions = region_evolution.sum().nlargest(5).index

region_evolution[top_5_regions].plot(kind='area', ax=plt.gca(), alpha=0.7, cmap='viridis')
plt.title('Regional Distribution Over Decades', fontsize=14, fontweight='bold')
plt.ylabel('Percentage of Attacks (%)')
plt.xlabel('Decade')
plt.legend(title='Region', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.xticks(rotation=45)

> Sub-Saharan Africa exhibits a significantly greater concentration of attacks than any other region, probably due to its economic vulnerabilities, political instability, and even ethnic tensions.

In [ ]:
# Lethality trends
plt.figure(figsize=(10, 6)) 
lethality = gtd.groupby('decade')['num_killed'].mean()
casualty_rate = (gtd['num_killed'] + gtd['num_wounded']).groupby(gtd['decade']).mean()

x = np.arange(len(decade_labels))
plt.bar(x - 0.2, lethality.values, 0.4, label='Avg Deaths/Attack', color='#c44e52', alpha=0.8)
plt.bar(x + 0.2, casualty_rate.values, 0.4, label='Avg Total Casualties/Attack', color='#55a868', alpha=0.8)

plt.title('Attack Lethality Over Decades', fontsize=14, fontweight='bold')
plt.ylabel('Average per Attack')
plt.ylim(0, max(casualty_rate.values) * 1.2)  

plt.xticks(x, decade_labels, rotation=45)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', borderaxespad=0.)

plt.tight_layout()
plt.show()

> This graph is a proof to our previous conclusion -- though 2000s saw more terrorist attacks, the actual lethality was seen in 1980s with more fatalities per attack.

In [ ]:
# Calculating key metrics
current_decade = decades[-1]
previous_decade = decades[-2]

current_incidents = decade_counts[current_decade]
previous_incidents = decade_counts[previous_decade]
growth_pct = ((current_incidents - previous_incidents) / previous_incidents) * 100

most_dangerous_decade = decade_counts.idxmax()
most_dangerous_region = gtd.groupby('decade')['region'].apply(lambda x: x.mode()[0])

# Top attack method for each decade
print("DOMINANT ATTACK METHODS BY DECADE:")
for decade in decades:
    top_attack = gtd[gtd['decade'] == decade]['attack_type'].value_counts().index[0]
    print(f"   {decade}s: {top_attack}")

### Monthly Analysis

In [ ]:
# Monthly analysis
monthly_attacks = gtd['month'].value_counts().sort_index()
monthly_attacks = monthly_attacks[(monthly_attacks.index >= 1) & (monthly_attacks.index <= 12)]

monthly_casualties = gtd.groupby('month')[['num_killed', 'num_wounded']].sum()
monthly_casualties = monthly_casualties[(monthly_casualties.index >= 1) & (monthly_casualties.index <= 12)]

# Month names for better readability
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 
               'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

plt.figure(figsize=(15, 10))

# Monthly attack frequency
plt.subplot(2, 2, 1)
bars = plt.bar(month_names, monthly_attacks.values, color='skyblue', alpha=0.8)
plt.title('Terrorist Attacks by Month', fontsize=14, fontweight='bold')
plt.ylabel('Number of Attacks')
plt.grid(True, alpha=0.3)

# Highlight peak month
peak_month = monthly_attacks.idxmax()
plt.axvline(x=peak_month-1, color='red', linestyle='--', alpha=0.7, 
            label=f'Peak: {month_names[peak_month-1]}')
plt.legend()
plt.tight_layout()
plt.show()

> We notice more attacks in the month of May compared to other months  possibly due to changes in political cycles such as elections or shifts in leadership that often occur mid-year. Other reasons could include religious reasons, ideal weather especially in areas like South Asia, Africa etc.

In [ ]:
# Monthly casualties
plt.figure(figsize=(10,6))
plt.plot(month_names, monthly_casualties['num_killed'], marker='o', linewidth=2, 
         label='Fatalities', color='red')
plt.plot(month_names, monthly_casualties['num_wounded'], marker='s', linewidth=2, 
         label='Injured', color='orange')
plt.title('Casualties by Month', fontsize=14, fontweight='bold')
plt.ylabel('Number of People')
plt.legend()
plt.grid(True, alpha=0.3)

> Interestingly, though May have more attacks, September seem to see far more injuries than other months. It could be due to far deadlier attacks that period.

In [ ]:
# Success rates by month
plt.figure(figsize=(10,6))
monthly_success = gtd.groupby('month')['successful_attack'].mean() * 100

# Filter only months 1-12 and sort properly
monthly_success = monthly_success[(monthly_success.index >= 1) & (monthly_success.index <= 12)]
monthly_success = monthly_success.sort_index()

# Month names for readability
month_names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
               'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

plt.plot(month_names, monthly_success.values, marker='o', color='green', linewidth=2)
plt.title('Success Rates by Month', fontsize=14, fontweight='bold')
plt.ylabel('Success Rate (%)')
plt.grid(True, alpha=0.3)
plt.tight_layout()
plt.show()

> Success rates of attacks show minimal seasonal variation, suggesting month is not a strong influencing factor.

In [ ]:
#Seasonal Patterns (quarters)
gtd_valid = gtd[gtd['month'].between(1, 12)].copy()
plt.figure(figsize=(6,6))
gtd_valid['quarter'] = (gtd_valid['month'] - 1) // 3 + 1 

quarterly_attacks = gtd_valid.groupby('quarter').size()
quarters = ['Q1 (JanMar)', 'Q2 (AprJun)', 'Q3 (JulSep)', 'Q4 (OctDec)']

plt.pie(
    quarterly_attacks.values,
    labels=quarters,
    autopct='%1.1f%%',
    colors=['#ff9999', '#66b3ff', '#99ff99', '#ffcc99']
)
plt.title('Attack Distribution by Quarter', fontsize=14, fontweight='bold')
plt.show()

### Major Events Timeline

In [ ]:
# Yearly trends
yearly_trends = gtd.groupby('year').agg({
    'eventid': 'count',
    'num_killed': 'sum',
    'num_wounded': 'sum'
}).rename(columns={'eventid': 'incidents'})

In [ ]:
# Main timeline
plt.plot(yearly_trends.index, yearly_trends['incidents'], 
         linewidth=3, color='#2E86AB', label='Terrorist Incidents')
plt.fill_between(yearly_trends.index, yearly_trends['incidents'], 
                 alpha=0.3, color='#2E86AB')

plt.title('Global Terrorism Timeline with Major Events (1970-2020)', 
          fontsize=16, fontweight='bold', pad=20)
plt.xlabel('Year')
plt.ylabel('Number of Attacks')
plt.grid(True, alpha=0.3)

## 2. Geographic Patterns - Global Hotspots

- Regional attack distributions
- Country-level heatmaps
- Urban vs rural targeting
- Geographic clustering analysis

In [ ]:
# Regional Attacks 

plt.figure(figsize=(20, 15))
region_counts = gtd['region'].value_counts()

# horizontal bar chart
bars = plt.barh(range(len(region_counts)), region_counts.values, 
                color=plt.cm.Reds(np.linspace(0.4, 1, len(region_counts))))
plt.yticks(range(len(region_counts)), region_counts.index)
plt.title('Terrorist Attacks by Region', fontsize=16, fontweight='bold')
plt.xlabel('Number of Attacks')

#value labels on bars
for i, bar in enumerate(bars):
    width = bar.get_width()
    plt.text(width + 100, bar.get_y() + bar.get_height()/2, 
             f'{int(width):,}', ha='left', va='center', fontweight='bold')

In [ ]:
# Country level (top 20 countries)
plt.figure(figsize=(10, 6))
country_attacks = gtd['country'].value_counts().head(20)

plt.barh(range(len(country_attacks)), country_attacks.values, 
         color=plt.cm.Blues(np.linspace(0.4, 1, len(country_attacks))))
plt.yticks(range(len(country_attacks)), country_attacks.index)
plt.title('Top 20 Countries by Terrorist Attacks', fontsize=16, fontweight='bold')
plt.xlabel('Number of Attacks')

In [ ]:
# Urban vs Rural
plt.figure(figsize=(10,6))

# major cities vs others
major_cities = gtd['city'].value_counts().head(10).index
city_analysis = gtd.groupby('city').size().sort_values(ascending=False)

# Categorize: top 10 cities vs all others
top_cities_attacks = city_analysis.head(10).sum()
other_cities_attacks = city_analysis[10:].sum()

labels = ['Top 10 Cities', 'All Other Locations']
sizes = [top_cities_attacks, other_cities_attacks]
colors = ['#ff9999', '#66b3ff']

plt.pie(sizes, labels=labels, autopct='%1.1f%%', colors=colors, startangle=90)
plt.title('Urban Concentration: Top 10 Cities vs All Others', fontsize=16, fontweight='bold')

In [ ]:
# Casualities by region
plt.figure(figsize=(10,6))
region_casualties = gtd.groupby('region').agg({
    'num_killed': 'sum',
    'num_wounded': 'sum'
})
region_casualties['total_casualties'] = region_casualties['num_killed'] + region_casualties['num_wounded']
region_casualties = region_casualties.nlargest(10, 'total_casualties')

# Normalize by number of attacks to get intensity
region_attacks = gtd['region'].value_counts()
region_casualties['casualty_intensity'] = region_casualties['total_casualties'] / region_attacks

plt.barh(range(len(region_casualties)), region_casualties['casualty_intensity'], 
         color=plt.cm.Oranges(np.linspace(0.4, 1, len(region_casualties))))
plt.yticks(range(len(region_casualties)), region_casualties.index)
plt.title('Casualty Intensity by Region\n(Avg Casualties per Attack)', fontsize=16, fontweight='bold')
plt.xlabel('Average Casualties per Attack')

plt.tight_layout(pad=3.0)
plt.show()

### 3. Actor Analysis - The Major Players

- Most active terrorist groups
- Group lifespan and activity periods
- Attack methodology preferences by group
- Success rates by organization

In [ ]:
# Most active terrorist groups (other than Unknown)
plt.figure(figsize=(10, 6))
group_activity = gtd['group_name'].value_counts().head(10)

# Filter out "Unknown" if it's in top groups
if 'Unknown' in group_activity.index:
    group_activity = group_activity[group_activity.index != 'Unknown'].head(10)

bars = plt.barh(range(len(group_activity)), group_activity.values, 
                color=plt.cm.Reds(np.linspace(0.4, 1, len(group_activity))))
plt.yticks(range(len(group_activity)), group_activity.index)
plt.title('Top 10 Most Active Terrorist Groups', fontsize=16, fontweight='bold')
plt.xlabel('Number of Attacks')

# Add value labels
for i, bar in enumerate(bars):
    width = bar.get_width()
    plt.text(width + 50, bar.get_y() + bar.get_height()/2, 
             f'{int(width):,}', ha='left', va='center', fontweight='bold')

In [ ]:
# Group Lifespan and their activity levels
plt.figure(figsize=(10,6))

# activity periods of top groups
top_groups = group_activity.index[:5]
group_years = {}

for group in top_groups:
    group_data = gtd[gtd['group_name'] == group]
    active_years = group_data['year'].unique()
    group_years[group] = (active_years.min(), active_years.max(), len(active_years))

# timeline visualization
fig, ax = plt.subplots(figsize=(12, 6))
years_range = range(gtd['year'].min(), gtd['year'].max() + 1)

for i, (group, (start, end, span)) in enumerate(group_years.items()):
    ax.plot([start, end], [i, i], linewidth=8, label=f'{group} ({span} years)')
    ax.text(start, i, f' {group}', va='center', fontsize=9)

ax.set_yticks(range(len(group_years)))
ax.set_yticklabels([group.split()[0] for group in group_years.keys()])  # Short names
ax.set_xlabel('Year')
ax.set_title('Activity Timeline of Top 5 Terrorist Groups', fontsize=16, fontweight='bold')
ax.grid(True, alpha=0.3)
ax.legend(bbox_to_anchor=(1.05, 1), loc='upper left')

In [ ]:
# success rates
plt.figure(figsize=(10, 6))

top_5_groups = gtd['group_name'].value_counts().head(5).index
success_rates = gtd[gtd['group_name'].isin(top_5_groups)].groupby('group_name')['successful_attack'].mean() * 100
success_rates = success_rates.dropna().sort_values(ascending=False)

if len(success_rates) > 0:
    bars = plt.bar(range(len(success_rates)), success_rates.values, 
                   color='lightgreen', alpha=0.8)
    
    plt.title('Success Rates of Top Terrorist Groups', fontsize=16, fontweight='bold')
    plt.ylabel('Success Rate (%)')
    plt.xticks(range(len(success_rates)), success_rates.index, rotation=45, ha='right')
    plt.ylim(0, 100)
    
    for bar in bars:
        height = bar.get_height()
        plt.text(bar.get_x() + bar.get_width()/2., height + 1, 
                 f'{height:.1f}%', ha='center', va='bottom', fontweight='bold')
    
    plt.tight_layout()
    plt.show()

### 4. Tactical Analysis - Methods & Targets

- Weapon type prevalence
- Target type patterns
- Attack type evolution
- Success rates by method

In [ ]:
plt.figure(figsize=(10,6))
weapon_counts = gtd['weapon_type'].value_counts().head(8)

#pie chart
wedges, texts, autotexts = plt.pie(weapon_counts.values, 
                                    colors=plt.cm.Set3(np.linspace(0, 1, len(weapon_counts))), 
                                    startangle=90,
                                    autopct='%1.1f%%',
                                    pctdistance=0.85)

for autotext in autotexts:
    autotext.set_color('black')
    autotext.set_fontweight('bold')
    autotext.set_fontsize(10)

plt.title('Weapon Type Prevalence', fontsize=16, fontweight='bold')
plt.legend(wedges, weapon_counts.index,
          title="Weapon Types",
          loc="center left",
          bbox_to_anchor=(1, 0, 0.5, 1))

In [ ]:
# Target type
plt.figure(figsize=(10,6))
target_counts = gtd['target_type'].value_counts().head(10)

bars = plt.barh(range(len(target_counts)), target_counts.values,
                color=plt.cm.Blues(np.linspace(0.4, 1, len(target_counts))))
plt.yticks(range(len(target_counts)), target_counts.index)
plt.title('Most Common Target Types', fontsize=16, fontweight='bold')
plt.xlabel('Number of Attacks')

# Add value labels
for i, bar in enumerate(bars):
    width = bar.get_width()
    plt.text(width + 100, bar.get_y() + bar.get_height()/2,
             f'{int(width):,}', ha='left', va='center', fontweight='bold', fontsize=10)

In [ ]:
#Success rates by methods
plt.figure(figsize=(10,6))

# success rates for each attack type
method_success = gtd.groupby('attack_type').agg({
    'successful_attack': 'mean',
    'num_killed': 'mean',
    'eventid': 'count'
}).rename(columns={'eventid': 'attack_count'})

method_success = method_success.sort_values('successful_attack', ascending=False)

# success rates
x = np.arange(len(method_success))
plt.bar(x, method_success['successful_attack'] * 100,
        color=plt.cm.RdYlGn(np.linspace(0, 1, len(method_success))), alpha=0.8)

plt.title('Success Rates by Attack Method', fontsize=16, fontweight='bold')
plt.ylabel('Success Rate (%)')
plt.xlabel('Attack Method')
plt.xticks(x, method_success.index, rotation=45, ha='right')
plt.ylim(0, 100)
plt.grid(True, alpha=0.3, axis='y')

# Add value labels
for i, rate in enumerate(method_success['successful_attack'] * 100):
    plt.text(i, rate + 2, f'{rate:.1f}%', ha='center', va='bottom', fontweight='bold', fontsize=9)

plt.tight_layout(pad=3.0)
plt.show()

### 5. Impact Assessment - Human & Economic Cost

- Casualty trends over time
-  High-casualty event analysis
- Property damage patterns
- Regional impact comparisons

In [ ]:
# Casuality over time
plt.figure(figsize=(10,6))

# yearly casualties
yearly_casualties = gtd.groupby('year').agg({
    'num_killed': 'sum',
    'num_wounded': 'sum'
})
yearly_casualties['total_casualties'] = yearly_casualties['num_killed'] + yearly_casualties['num_wounded']

#area chart
plt.stackplot(yearly_casualties.index, 
              yearly_casualties['num_killed'], 
              yearly_casualties['num_wounded'],
              labels=['Fatalities', 'Injured'],
              colors=['#c44e52', '#4c72b0'], alpha=0.8)

plt.title('Casualty Trends Over Time (1970-2020)', fontsize=16, fontweight='bold')
plt.ylabel('Number of Casualties')
plt.xlabel('Year')
plt.legend(loc='upper left')
plt.grid(True, alpha=0.3)

In [ ]:
# High casuality events
plt.figure(figsize=(10,6))

#top 1% by casualties
casualty_threshold = gtd['total_casualties'] = gtd['num_killed'] + gtd['num_wounded']
high_casualty_threshold = casualty_threshold.quantile(0.99)

high_casualty_events = gtd[casualty_threshold >= high_casualty_threshold]

#high-casualty events by attack type
hc_by_type = high_casualty_events['attack_type'].value_counts().head(8)

bars = plt.barh(range(len(hc_by_type)), hc_by_type.values,
                color=plt.cm.Reds(np.linspace(0.4, 1, len(hc_by_type))))
plt.yticks(range(len(hc_by_type)), hc_by_type.index)
plt.title(f'High-Casualty Events by Attack Type\n(Top 1%: {high_casualty_threshold:.0f}+ casualties)', 
          fontsize=16, fontweight='bold')
plt.xlabel('Number of High-Casualty Events')

# Add value labels
for i, bar in enumerate(bars):
    width = bar.get_width()
    plt.text(width + 0.5, bar.get_y() + bar.get_height()/2,
             f'{int(width)}', ha='left', va='center', fontweight='bold')

In [ ]:
#Property damage
plt.figure(figsize=(10,6))

# Analyze property damage
property_analysis = gtd.groupby('attack_type').agg({
    'property_damage': 'mean',
    'property_value': lambda x: x[x > 0].mean()
}).rename(columns={'property_damage': 'damage_frequency', 'property_value': 'avg_damage_amount'})

property_analysis = property_analysis.sort_values('avg_damage_amount', ascending=False).head(8)

# dual-axis plot
ax1 = plt.gca()
ax2 = ax1.twinx()

x = np.arange(len(property_analysis))
width = 0.35

# Damage frequency (left axis)
bars1 = ax1.bar(x - width/2, property_analysis['damage_frequency'] * 100, width,
                color='skyblue', alpha=0.8, label='Damage Frequency')
# Average damage amount (right axis)
bars2 = ax2.bar(x + width/2, property_analysis['avg_damage_amount'] / 1000000, width,
                color='coral', alpha=0.8, label='Avg Damage (Millions $)')

ax1.set_title('Property Damage Patterns by Attack Type', fontsize=16, fontweight='bold')
ax1.set_ylabel('Damage Frequency (%)', color='skyblue')
ax2.set_ylabel('Average Damage (Millions $)', color='coral')
ax1.set_xticks(x)
ax1.set_xticklabels([name[:15] + '...' if len(name) > 15 else name for name in property_analysis.index], 
                    rotation=45, ha='right')

# Add legends
ax1.legend(loc='upper left')
ax2.legend(loc='upper right')

In [ ]:
# Regional Impacts
plt.figure(figsize=(10,6))

# regional impact
regional_impact = gtd.groupby('region').agg({
    'num_killed': 'sum',
    'num_wounded': 'sum',
    'property_value': 'sum',
    'eventid': 'count'
}).rename(columns={'eventid': 'incident_count'})

regional_impact['total_casualties'] = regional_impact['num_killed'] + regional_impact['num_wounded']
regional_impact['casualties_per_attack'] = regional_impact['total_casualties'] / regional_impact['incident_count']
regional_impact['damage_per_attack'] = regional_impact['property_value'] / regional_impact['incident_count']

# Normalizing for radar chart-like comparison (0-1 scale)
for col in ['casualties_per_attack', 'damage_per_attack', 'incident_count']:
    regional_impact[f'{col}_norm'] = regional_impact[col] / regional_impact[col].max()

#top 6 regions
top_regions = regional_impact.nlargest(6, 'total_casualties')
metrics = ['casualties_per_attack_norm', 'damage_per_attack_norm', 'incident_count_norm']
metric_labels = ['Casualty Intensity', 'Damage Intensity', 'Attack Frequency']

x = np.arange(len(metrics))
width = 0.15

for i, (region, data) in enumerate(top_regions.iterrows()):
    plt.bar(x + i*width, [data[metric] for metric in metrics], width, label=region)

plt.title('Regional Impact Comparison (Normalized)', fontsize=16, fontweight='bold')
plt.ylabel('Normalized Impact Score (0-1)')
plt.xticks(x + width*2.5, metric_labels)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True, alpha=0.3, axis='y')

plt.tight_layout(pad=3.0)
plt.show()

<div align="left">
    <h2> Conclusion</h2>
</div>

Terrorism has evolved drastically over the past five decades  shifting in geography, strategy, and scale. The 2000s witnessed the highest surge in attacks, largely fueled by global conflicts and ideological extremism, while the 1980s stand out as the most lethal period per incident.
Sub-Saharan Africa and South Asia emerged as persistent hotspots, reflecting a combination of political instability, weak governance, and socioeconomic vulnerabilities.
Bombings remain the dominant form of attack, yet the use of firearms and explosives has diversified.

Although recent decades show a decline in total incidents, the persistence of organized terror networks highlights that modern terrorism is far from eradicated  it has merely adapted to new forms, exploiting digital communication, propaganda, and technology.
The overall downward trend in the 2020s, however, may reflect improved intelligence, counter-terrorism measures, and global cooperation  marking a cautious optimism for the future.